.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__image:hover {
  cursor: pointer;
}

.card__description {
  background-color: white;
  color: #000;
  margin: 0;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/heart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: 0;
}

.card__like-button_active {
  background-image: url(../images/heart-active.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__delete-button {
  background: transparent url("../images/Trash.svg") center no-repeat;
  width: 18px;
  height: 18px;
  border: none;
  position: absolute;
  top: 15px;
  right: 5px;
  transition: opacity 1s ease;
}

.card__delete-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
