.footer {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 318px;
  max-height: 18px;
  color: #545454;
  margin: 67px 762px 60px 200px;
  width: 100%;
}

.footer__copyright {
  margin: 0;
}

@media screen and (max-width: 620px) {
  .footer {
    margin: 48px 19px 36px 19px;
    font-size: 14px;
    line-height: 17px;
  }
}
